@page "/home"

<Div Position="Position.Relative">
    <Div Position="Position.Relative.Top.Is0.Start.Is50">
        <Heading Size="HeadingSize.Is1">Home</Heading>
    </Div>

    <Div Position="Position.Relative.Top.Is50.Start.Is0">
        <Text TextColor="TextColor.Primary">
            Lorem ipsum dolor sit amet.
        </Text>
    </Div>
</Div>